@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url('../fontes/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*
#FF0000
#BF0000
#800000
#400000
#E60000
*/

:root {
    --cor0: #FF0000;
    --cor1: #CC0000;
    --cor2: #990000;
    --cor3: #660000;
    --cor4: #330000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
    font-family: var(--fonte-destaque) ;
}

header {
    background-color: var(--cor2);
}

header > img.logo-topo {
    padding-top: 10px;
    width: 100px;
    display: block;
    margin: auto;

}

header h1 {
    color: white;
    padding: 15px;
    text-align: center;
    font-size: medium;
}

nav {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: white;
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    background-color: rgb(226, 217, 217);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
    font-size: 1em;
}

main img.evento{
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
    display: block;
    margin: auto;
}

div.map {
    background-color: rgb(226, 217, 217);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.map > iframe {
    position: absolute;
    top: 2%;
    left:6%;
    width: 88%;
    height: 88%;
}

footer {
    background-color: black;
    text-align: center;
    font-size: 0.8em; padding: 5px;
    color: white;
}

/*footer.fixar-rodape {
    background-color: black;
    text-align: center;
    font-size: 0.8em; padding: 5px;
    color: white;
    bottom: 0;
    left: 0;
    height: 20px;
    position: fixed;
    width: 100%;
  }*/

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: darkgray;
}